html,
body {
    width: 100%;
    height: 100%;
}

.container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.colorContainer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.circle {
    width: 75px;
    height: 75px;
    border-radius: 50%;
    background-color: #000;
    margin: 5px;
}

#guessingColor,
#text,
#win,
#incorrect {
    font-size: 32px;
    font-family: sans-serif;
    font-weight: bold;
    color: #5c5d67;
}

#text {
    font-size: 20px;
    font-variant: small-caps;
}

#win {
    font-size: 24px;
    color: #a5b38a;
}

#incorrect {
    font-size: 24px;
    color: #9c7570;
}

#btn {
    padding: 15px;
    font-size: 20px;
    border-radius: 5px;
    background-color: #dde0e4;
    border-width: 2px;
}